* {


    
    margin: 0;
    padding: 0;
    text-align: center;


}

h1 {


margin: 10px;
font-family: Georgia, 'Times New Roman', Times, serif;
color:#2f404d;
    


}

h3 {



    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#2f404d;


}

.Kalkulator {

    width: 30%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10% 5% 35%;
    background-color: #3d898d;
     


}

#prikaz {

   width: 49%;
   margin: 10px 10px 0 10px;
   border: 2px solid #2f404d;
   border-radius: 2px;


}

/* button */

button {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 2px;
    border: 2px solid #2f404d;
    background-color: #e2dddf;
    border-radius:  5px;
}


button:hover {


    background-color: #85ebd9;


}

/* --------------------------------- */

/* TIPKE */

#tipke1 {


    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto; 
    width: 50%;
    margin: 5px;

}


#tipke2 {


    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto; 
    width: 50%;
    margin: 5px;
  
  }

  /* ----------------------- */

  /* JEDNAKO */

  #jednako {


    width: 49%;
   margin: 0 10px 10px 10px;
   border: 2px solid #2f404d;

  }